// Colors, Fonts
$col-bg: #f5f6f7;
$col-f-d: #2d2d2d;
$col-f-g: #747474;
$col-h: #2bcfca;
$col-bor: #e4e4e4;

$font-reg: 'PFDinTextPro-Regular';
$font-med: 'PFDinTextPro-Medium';

$headHeight: 75px;
$footerHeight:70px;

// Media Query
$tablet-width: 1024px;
$mobile-width: 767px;
$mobile-width-sm: 374px;

@mixin tablet {
    @media (max-width: #{$tablet-width}){
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile-width}){
        @content;
    }
}

@mixin mobile-sm {
    @media (max-width: #{$mobile-width-sm}){
        @content;
    }
}

// Socket
@mixin socket {
    position: relative;
    width: 960px;
    margin: auto;

    @include tablet {
        width: auto;
        padding: 0 20px;
    }

    @include mobile {
        padding: 0 7px;
    }
}

@mixin socket-2 {
    position: relative;
    width: 960px;
    margin: auto;

    @include tablet {
        width: auto;
        padding: 0 20px;
    }

    @include mobile {
        padding: 0 14px;
    }
}

// Web Kit Hack
@mixin wk {
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		@content;
	}	
}

// Rotate
@mixin rot($deg) {
    transform: rotate($deg); -webkit-transform: rotate($deg); -moz-transform:rotate($deg); -o-transform:rotate($deg);
}

// Clearfix
@mixin clearfix {
    &:before,
    &:after {
        content: " "; 
        display: table; 
    }
    &:after {
        clear: both;
    }
}

// Background
@mixin sp($x, $y){
    background: url(../images/sprites.png) $x $y;
}

// Full
@mixin full {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

// Link Border
@mixin link-bor($col, $colh) {
    text-decoration: none;
    border-bottom: 1px solid $col;
    color: $col;

    &:hover {
        border-color: $colh;
    }
}

// Vertiacl Align Midle
@mixin mdl {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

// Calc 
@mixin calc($property, $expression) { 
    #{$property}: -webkit-calc(#{$expression}); 
    #{$property}: calc(#{$expression}); 
} 

// Border Radius 
@mixin border-rad ($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin border-rad-top ($radius) {
	-webkit-border-radius: $radius $radius 0 0;
	-moz-border-radius: $radius $radius 0 0;
	-ms-border-radius: $radius $radius 0 0;
	border-radius: $radius $radius 0 0;
}

@mixin border-rad-btm ($radius) {
	-webkit-border-radius: 0 0 $radius $radius;
	-moz-border-radius: 0 0 $radius $radius;
	-ms-border-radius: 0 0 $radius $radius;
	border-radius: 0 0 $radius $radius;
}

@mixin border-rad-left ($radius) {
	-webkit-border-radius: $radius 0 0 $radius;
	-moz-border-radius: $radius 0 0 $radius;
	-ms-border-radius: $radius 0 0 $radius;
	border-radius:$radius 0 0 $radius;
}

@mixin border-rad-right ($radius) {
	-webkit-border-radius: 0 $radius $radius 0;
	-moz-border-radius: 0 $radius $radius 0;
	-ms-border-radius: 0 $radius $radius 0;
	border-radius:0 $radius $radius 0;
}

// :after :before
.ps {
	content:"";
	display: block;
	position: absolute;
	top: 0;
}

// Plaseholder
@mixin ph {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}  
}

// Border Opacity
@mixin border-btm-opa($rgba1, $rgba2, $rgba3, $opacity){
	border-bottom: 1px solid rgba($rgba1, $rgba2, $rgba3, $opacity);
	-webkit-background-clip: padding-box; 
	background-clip: padding-box; 
}

// Delay
@mixin delay($time) {
    -webkit-transition-delay:$time;
    -ms-transition-delay:$time;
    transition-delay:$time;
}

@mixin a-delay($time){
    animation-delay: $time !important;
    -webkit-animation-delay: $time !important; 
}

// Transition 
@mixin transition($transition-property, $transition-time, $method){
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}   

@mixin trans($time) {
    transition: all $time ease-out; 
    -webkit-transition: all $time ease-out; 
    -ms-transition: all $time ease-out;
}

.trans {
    transition: all 0.2s ease-out; 
    -webkit-transition: all 0.2s ease-out; 
    -ms-transition: all 0.2s ease-out;
}

// Border Boxing
@mixin border-box {
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;  
}

// Arrows
@mixin tr-top($bwr, $bwb, $bwl, $col) {
    width: 0; height: 0; border-style: solid; border-width: 0 $bwr $bwb $bwl; border-color:  transparent transparent $col transparent;
}

@mixin tr-right($bwt, $bwb, $bwl, $col) {
    width: 0; height: 0; border-style: solid; border-width:  $bwt 0 $bwb $bwl; border-color:   transparent transparent transparent $col;
}

@mixin tr-bottom($bwt, $bwr, $bwl, $col) {
    width: 0; height: 0; border-style: solid; border-width: $bwt $bwr 0  $bwl; border-color: $col  transparent transparent transparent;
}

@mixin tr-left($bwt, $bwr, $bwb, $col) {
    width: 0; height: 0; border-style: solid; border-width: $bwt $bwr $bwb 0; border-color: transparent $col   transparent transparent;
}

@mixin st($size, $color, $deg) {
    position: absolute; display: block; width: $size; height: $size;  border-left-color: $color; pointer-events: none; border-right: 1px solid $color; border-top: 1px solid $color; 
    transform: rotate($deg); -webkit-transform: rotate($deg); -moz-transform:rotate($deg); -o-transform:rotate($deg);
}

@mixin grad {
    background: $col-h;
    background-image: -webkit-linear-gradient(304deg, rgb(96,232,189) 0%, rgb(0,188,212) 100%);
    background-image: -o-linear-gradient(304deg, rgb(96,232,189) 0%, rgb(0,188,212) 100%);
    background-image: linear-gradient(34deg, rgb(96,232,189) 0%, rgb(0,188,212) 100%);
}

// Scale
@mixin scale($scale){
    transform: scale($scale);
    -ms-transform: scale($scale);
    -webkit-transform: scale($scale);
}

// Flexbox
@mixin flex($val) {
    display: flex;
    display: -webkit-flexbox;
    display: -ms-flexbox;

    justify-content: $val;
    -webkit-justify-content: $val;
}

// Visibility Hidden
.vis {
    -webkit-backface-visibility: hidden;
}

// Animation
@mixin animation($name, $duration, $func){
    animation: $name $duration $func;
    -ms-animation: $name $duration $func;
    -webkit-animation: $name $duration $func;
}

@mixin animation-d($name, $duration, $func, $delay){
    animation: $name $duration $func $delay;
    -ms-animation: $name $duration $func $delay;
    -webkit-animation: $name $duration $func $delay;
}
